@import '../../scss/breakpoint';

.places {
  display: flex;
  justify-content: space-between;
  padding-top: 32px;
  padding-bottom: 32px;


  @include responsive(sm) {
    flex-direction: column;
    row-gap: 15px;
  }
}